n8n-workflow.json
{
  "name": "DNS ML + TheHive + Cortex End-to-End",
  "nodes": [
    {
      "parameters": {},
      "id": "034e6dd3-76b2-41b0-b896-4bacaea36fad",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "return [ { json: { domain: \"enjsbygdpjrj.co.uk\" } } ];"
      },
      "id": "b19b378e-1d14-4603-a9e8-d72c0ef86500",
      "name": "Load Test Domains",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -896,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "babbfb42-339d-41d3-ad80-bfbda8743da8",
      "name": "Split Domains",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -672,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.13:8000/predict",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{$json.domain}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b82accf-52b0-4bb6-a8c7-9b77fdbc6fc0",
      "name": "Predict DGA Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.probability_DGA}}",
              "operation": "largerEqual",
              "value2": 0.6
            }
          ]
        }
      },
      "id": "808f73af-6ba6-45df-8e6a-0bc06735ebd5",
      "name": "Check Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.13:9000/api/alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2m8Sfi2vQRBjsBWyU3JAkyJFfknJsBg9"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Suspicious domain detected\",\n  \"description\": \"This alert was generated automatically from the workflow.\",\n  \"source\": \"n8n\",\n  \"sourceRef\": \"{{ $json.domain }}-{{Date.now()}}\",\n  \"type\": \"external\",\n  \"severity\": {{ $json[\"probability_DGA\"] >= 0.8 ? 3 : $json[\"probability_DGA\"] >= 0.7 ? 2 : 1 }},\n  \"tlp\": {{ $json[\"probability_DGA\"] >= 0.8 ? 3 : $json[\"probability_DGA\"] >= 0.7 ? 2 : 1 }},\n  \"artifacts\": [\n    {\n      \"dataType\": \"domain\",\n      \"data\": \"{{$json[\"domain\"]}}\",\n      \"message\": \"Domain classified as suspicious\",\n      \"tlp\": 2,\n      \"ioc\": true,\n      \"tags\": [\"ml-dga\"]\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "33559bf6-216a-4546-8858-b035b3c4eee6",
      "name": "Create Hive Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.13:9000/api/alert/{{$json.id}}/createCase",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2m8Sfi2vQRBjsBWyU3JAkyJFfknJsBg9"
            }
          ]
        },
        "options": {}
      },
      "id": "f5b00d0d-d77d-41bb-9f30-22a5a02c9679",
      "name": "Promote to Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.13:9001/api/analyzer/34979f3fc6f07b26ae9e5f6916e3c90d/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer UPT/rFMlioPPeIPoIOic5fNZYcuWOjue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"data\": \"{{ $('Load Test Domains').item.json.domain }}\",\n \"dataType\": \"domain\",\n \"tlp\": 2,\n \"message\": \"Suspicious domain from alert\",\n \"parameters\": {}\n}",
        "options": {}
      },
      "id": "c9fe9a50-452a-4b52-a685-35969da4864f",
      "name": "Run Cortex Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { jobId: $json.id, attempts: 0 }}];"
      },
      "id": "c55bd2fd-8b58-4fcd-a6ef-22596c71ea2c",
      "name": "Extract Job ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "296f8414-d829-4e2f-9132-f019fc6013b2",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        896,
        304
      ],
      "webhookId": "cd26dba3-59d4-4759-aaec-3d42e88f6914"
    },
    {
      "parameters": {
        "url": "=http://192.168.0.13:9001/api/job/{{$json.jobId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer UPT/rFMlioPPeIPoIOic5fNZYcuWOjue"
            }
          ]
        },
        "options": {}
      },
      "id": "0837964a-044f-4dbb-ba3e-376a21f4b1db",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "notEqual",
              "value2": "Success"
            }
          ]
        }
      },
      "id": "8c837168-acd5-4b8c-aca4-6b3fe4f558cc",
      "name": "Is Job Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1344,
        304
      ]
    },
    {
      "parameters": {},
      "id": "67878d68-2955-40f4-9598-b808a2afab36",
      "name": "Next Batch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        704
      ]
    },
    {
      "parameters": {
        "url": "=http://192.168.0.13:9001/api/job/{{ $json.id }}/report ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer UPT/rFMlioPPeIPoIOic5fNZYcuWOjue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        304
      ],
      "id": "49ac14f9-e0ff-4a32-95d2-d80b9b6d4571",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fromEmail": "aymen.boukadida@polytechnicien.tn",
        "toEmail": "aymen.boukadida@polytechnicien.tn",
        "subject": "=VirusTotal Report ",
        "html": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2288,
        320
      ],
      "id": "e1569bc4-adf8-4531-b679-2a433cdf5369",
      "name": "Send email",
      "webhookId": "3206f5ac-0126-47bd-839e-d9202bcbe547",
      "credentials": {
        "smtp": {
          "id": "m5Ch8iAt5cJgQcm5",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize the following VirusTotal report for a SOC analyst.\nProvide only actionable intelligence.\nInclude: Indicator, Detection Ratio, Verdict, First Seen, Last Seen, Malware Names, Risk Level, and Recommended Action.\nKeep it concise and professional.\nIndicator Type: {{ $json.dataType }}\nIndicator Value: {{ $json.data }}\nDetection Ratio: {{ $json.tlp }}\nVerdict: {{ $json.report.full.verbose_msg }}\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1856,
        304
      ],
      "id": "bafc934a-fb0c-4cae-b519-4244330703b3",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "gGT7VK7f0Fqwojvz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Load Test Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Test Domains": {
      "main": [
        [
          {
            "node": "Split Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Domains": {
      "main": [
        [
          {
            "node": "Predict DGA Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Predict DGA Score": {
      "main": [
        [
          {
            "node": "Check Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score": {
      "main": [
        [
          {
            "node": "Create Hive Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Next Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Hive Alert": {
      "main": [
        [
          {
            "node": "Promote to Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promote to Case": {
      "main": [
        [
          {
            "node": "Run Cortex Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Cortex Analyzer": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Is Job Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Job Finished?": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "704d4b3a-c72b-45bb-b6d1-8cbfda977b4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3fb3949e96effa35ddf3a329b582a0b5e7161ae9d200cf48dfed7707c37341a"
  },
  "id": "aktNoQYELCqFcWJ5",
  "tags": [
    {
      "updatedAt": "2026-01-04T04:35:39.618Z",
      "createdAt": "2026-01-04T04:35:39.618Z",
      "id": "oUVWkWcsOeO0mHjJ",
      "name": "final"
    }
  ]
}